name: Update Playlist

on:
  schedule:
    - cron: "0 */6 * * *"   # ทุก 6 ชั่วโมง
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - run: pip install requests
      - run: python check_links.py

      - name: Commit changes
        run: |
          git config user.name github-actions
          git config user.email actions@github.com
          git add playlist.m3u
          git commit -m "Auto update playlist" || exit 0
          git push
